# Core Libraries
numpy
pandas
matplotlib
tqdm

# Image Processing
opencv-python

# Deep Learning
tensorflow
keras

# Web / App Interfaces
streamlit
gradio

# Optional Utilities
scikit-learn
Pillow
huggingface_hub
